{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}
<!-- BODY -->
<section class="background">
<center>
        <div class="thirdhalf">
            <img src="https://osourcegames.firebaseapp.com/start.gif" alt="GIF">
        </div>
    </center><br><br>
    <div class="text"><p><b><center>About OpenSource Games</center></b>
        
    </p></div><br><br>
    <div class="text2">
        <center><p><font face="Lucida Sans">
            OpenSource is the free source of HTML CSS and JAVA Script based Games.<br>In this website you
            will get many interesting and exciting games.
            As a team of passionate gaming enthusiasts, OpenSource is dedicated to celebrating the gaming community.
            Our expansive content includes current news, recent releases and helpful guides, all of which are geared
            for our fellow gamers, novices and professionals alike.

            We’re committed to enhancing your gaming experience. You can contact us for one-on-one support or browse
            our ever-expanding selection of articles and videos to find exactly what you’re looking for. We’re
            looking forward to hearing from you.
        </font></p><br>
        <div class="text"><p><b><center>Why the Website is?</center></b>
        
        </p></div><br>
        <p><font face="Lucida Sans">
            Playing the games you will enjoy and
            become mentally relaxed<br> because the games are so easy and interesting.
            As well as the games<br> will help you to increase your creativity.
        </font></p><br></center>
    <center><p style="color:cyan">
        Owner:
    </p></center>
    <center><p style="color:white">
        Sinchan Maitra
    </p></center>
    <center><p style="color:cyan">
        Co-owner:
    </p></center>
    <center><p style="color:white">
        Ananyo Kar
    </p></center>
    </div>
</section>
<!-- FOOTER -->
    <br>
    <footer>
    <div class="row">
       <div class="col">
           <img src="https://osourcegames.firebaseapp.com/canva-big-metal-letter-v-MAAm7Bhyp1o.png" class="logo">
           <p>OpenSource is a website of different types of Computer Games. You will get many
                exiting and interesting games here. Hope you will like those.</p>
       </div>
       <div class="col" id="con">
           <h3>ADDRESS <div class="underline"><span></span></div></h3>
           <p>Sarat Ava</p>
           <p>Senpara, Jalpaiguri</p>
           <p>West Bengal, PIN 735101, India</p>
           <p class="email-id"><a class="a" href="mailto:support@opensource.infinityfreeapp.com" target="_blank">support@opensource</a></p>
           <h4>+91 - 9883105019</h4>
       </div>
       <div class="col">
           <h3>LINKS <div class="underline"><span></span></div></h3>
           <ul class="ul2">
            <li class="li2"><a class="a" href="/">HOME</a></li>
            <li class="li2"><a class="a" href="/about">ABOUT</a></li>
            <li class="li2"><a class="a" href="/games" target="_blank">GAMES</a></li>
            <li class="li2"><a class="a" href="/contact">CONTACT US</a></li>             
            <li class="li2"><a class="a" href="/premium">PREMIUM</a></li>
           </ul>
                
       </div>
       <div class="col">
           <h3>NEWSLETTER <div class="underline"><span></span></div></h3>
           <form id="newsletter" action="/newsletter" method="POST">
               <i class="far fa-envelope" aria-hidden="true"></i>
               <input type="email" placeholder="Enter You Email Id" required="">
               <button type="submit"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
           </form>
           <div class="social-icons">
        <h2 style="font-size: 0.9rem;position: relative;text-align: center;display: flex;align-content: center;flex-wrap: nowrap;justify-content: space-around;align-items: baseline;"><u>SOCIALS</u></h2><br>
        <a href="https://www.linkedin.com/in/sinchan-maitra-22a303217/s" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://discord.io/AbindentCommunity" target="_blank"><i class="fab fa-discord" aria-hidden="true"></i></a>
        <a href="https://github.com/Think-With-Us" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
        <a href="https://in.pinterest.com/maitrababai2007/" target="_blank"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
        <a href="https://reddit.com/r/abindent/" target="_blank"><i class="fab fa-reddit" aria-hidden="true"></i></a>
        <a href="https://twtich.tv/smduniya187357/" target="_blank"><i class="fab fa-twitch" aria-hidden="true"></i></a>
           </div>
       </div>

        </div>
    
    <hr>
    <p class="copyright">OpenSource © 2026 - All Rights Reserved</p>
</footer>    
{% endblock%}
