{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<!-- BODY -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible show" id="alert" >
<strong>Message : </strong> {{ message }}
<button type="button" class="btn-close" onclick="hidealert()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
{% endif %}
<section class="background firstsection">
    <div class="boxmain">

        <div class="firsthalf">
            <div class="big">
                <p class="text-big"><b>Free Source of HTML CSS and JAVA Script based Games.</b></p>
            </div>
            <p class="text-small">OpenSource is a website of different types of Computer Games. You will get many
                exiting and interesting games here. Hope you will like those.
            </p><br>
            <div class="buttons">
                <a href="/games" target="blank"><button class="btn">Go to the Games Page</button></a>
                <a href="https://game-splash.firebaseapp.com/" target="blank"><button class="btn">Visit Game
                        Splash</button></a>
            </div>
        </div>
        <div class="secondhalf">
            <img src="https://osourcegames.firebaseapp.com/Logo%20Website.png" alt="game image" width="520px">
        </div>
    </div><br>

</section><br>
<center>
    <div class="thirdhalf">
        <img src="https://osourcegames.firebaseapp.com/standard.gif" alt="GIF">
    </div>
</center>
<section class="secright">
    <div class="para">
        <p class="sectiontag text-big"><b>Product's Site</b></p>
        <p class="sectionsubtag text-small"><b>OpenSource is a website of different types of Computer Games. You will
                get many
                exiting and interesting games here. Hope you will like those.</b>
        </p>
    </div>
    <div class="thumbnail">
        <img src="https://source.unsplash.com/1500x1500/?games, pc" alt="game logo" class="imgFluid">
    </div>
</section>
<section class="secup">
    <div class="para">
        <p class="sectiontag text-big"><b>It's a treasure of games</b></p>
        <p class="sectionsubtag text-small"><b>Playing these games you will enjoy and
                become mentally relaxed because the games are so easy and interesting.
                As well as the games will help you to increase your creativity.</b>
        </p>
    </div>
    <div class="thumbnail">
        <img src="https://source.unsplash.com/1500x1500/?gaming, gadgets" alt="game logo" class="imgFluid">
    </div>
</section>
<section class="secleft">
    <div class="para">
        <p class="sectiontag text-big"><b>It's a place of excitement and fun </b></p>
        <p class="sectionsubtag text-small"> <b> You will find a varity of games here. which will
                make you happy. And hope you will like those.</b>
        </p>
    </div>
    <div class="thumbnail">
        <img src="https://source.unsplash.com/1500x1500/? computer" alt="game logo" class="imgFluid">
    </div><br><br><br>
</section><br><br><br>
<center><button class="button"><a href="https://patreon.com/join/OpenSourceGames" target="_blank"><i
                class="fa fa-crown"></i> GET PREMIUM</a></button></center>
</section>
</section>
<!-- FOOTER -->
    <br>
    <footer>
    <div class="row">
       <div class="col">
           <img src="https://osourcegames.firebaseapp.com/canva-big-metal-letter-v-MAAm7Bhyp1o.png" class="logo">
           <p>OpenSource is a website of different types of Computer Games. You will get many
                exiting and interesting games here. Hope you will like those.</p>
       </div>
       <div class="col" id="con">
           <h3>ADDRESS <div class="underline"><span></span></div></h3>
           <p>Sarat Ava</p>
           <p>Senpara, Jalpaiguri</p>
           <p>West Bengal, PIN 735101, India</p>
           <p class="email-id"><a class="a" href="mailto:support@opensource.infinityfreeapp.com" target="_blank">support@opensource</a></p>
           <h4>+91 - 9883105019</h4>
       </div>
       <div class="col">
           <h3>LINKS <div class="underline"><span></span></div></h3>
           <ul class="ul2">
            <li class="li2"><a class="a" href="/">HOME</a></li>
            <li class="li2"><a class="a" href="/about">ABOUT</a></li>
            <li class="li2"><a class="a" href="/games" target="_blank">GAMES</a></li>
            <li class="li2"><a class="a" href="/contact">CONTACT US</a></li>             
            <li class="li2"><a class="a" href="/premium">PREMIUM</a></li>
           </ul>
                
       </div>
       <div class="col">
           <h3>NEWSLETTER <div class="underline"><span></span></div></h3>
           <form id="newsletter" action="/newsletter" method="POST">
               <i class="far fa-envelope" aria-hidden="true"></i>
               <input type="email" placeholder="Enter You Email Id" required="">
               <button type="submit"><i class="fas fa-arrow-right" aria-hidden="true"></i></button>
           </form>
           <div class="social-icons">
        <h2 style="font-size: 0.9rem;position: relative;text-align: center;display: flex;align-content: center;flex-wrap: nowrap;justify-content: space-around;align-items: baseline;"><u>SOCIALS</u></h2><br>
        <a href="https://www.linkedin.com/in/sinchan-maitra-22a303217/s" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://discord.io/AbindentCommunity" target="_blank"><i class="fab fa-discord" aria-hidden="true"></i></a>
        <a href="https://github.com/Think-With-Us" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
        <a href="https://in.pinterest.com/maitrababai2007/" target="_blank"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
        <a href="https://reddit.com/r/abindent/" target="_blank"><i class="fab fa-reddit" aria-hidden="true"></i></a>
        <a href="https://twtich.tv/smduniya187357/" target="_blank"><i class="fab fa-twitch" aria-hidden="true"></i></a>
           </div>
       </div>

        </div>
    
    <hr>
    <p class="copyright">OpenSource © 2026 - All Rights Reserved</p>
</footer>
{% endblock %}